.app{
   height:100vh;
   background-color: #dadbd3;
   display: grid;
   place-items: center;
}
*{
  margin: 0;
}
.main-body{
  display: flex;
  background-color: #ededed;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.3);
}