.chats{
    display:flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}
.chats:hover{
    background-color: #ebebeb;
}
.chat-info > h2{
   font-size: 16px;
   margin-bottom: 8px;
}
.chat-info{
    margin-left: 15px;
}