.side-bar{
    display: flex;
    flex: 0.35; 
    flex-direction: column;  
}
.sidebar-header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}
.header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw; 
}