.side-bar{
    display: flex;
    flex: 0.35; 
    flex-direction: column;  
}
.sidebar-header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}
.header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw; 
}
.sidebar-search{
    display: flex;
    align-items: center; 
    background-color: #f6f6f6;
    padding: 10px;
    height: 39px;
}
.search-container{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    border-radius: 20px;

}
.search-container > input{
  border: none;
  margin-left: 10px;
  outline-width: 0;
  padding: 10px;
  height: 10px;
  cursor: pointer;
}